<div class="row">
    <h4>User List. Page: {{currentPage}} of {{totalPages}}</h4>
</div>
<div class="row" *ngFor="let user of users;let i=index;">
    <div class="col-4">
        <img [src]="user.avatar" />
    </div>
    <div class="col-8">
        <p><a routerLink='/users/{{user.id}}'>{{user.first_name}} {{user.last_name}}</a></p>
        <p>{{user.email}}</p>
    </div>
</div>
<div class="row">
    <p>
        <a (click)="prevPage()" *ngIf='currentPage > 1'> << </a>
        <span>{{currentPage}}</span>
        <a (click)="nextPage()" *ngIf='currentPage < totalPages'> >> </a>
    </p>
</div>
