<input type="text" placeholder="Nombre Usuario" [(ngModel)]="username" />
<input type="password" placeholder="Contraseña Usuario" [(ngModel)]="password" />
<button type="button" class="btn btn-primary" (click)="login()">Log in</button>
