<div class="row">
    <div class="col">
        <img [src]="user?.avatar" />
    </div>
    <div class="col">
        <a routerLink='/users/{{user?.id}}'>{{user?.first_name}} {{user?.last_name}}</a>
    </div>
    <div class="col">
        <p>{{user?.email}}</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <a [href]="user?.ad?.url">{{user?.ad?.company}}</a>
        <p>{{user?.ad?.text}}</p>
    </div>
</div>

<button (click)="backToList()">Volver a la lista</button>